<?xml version="1.0"?>
<config>
    <modules>
        <Copimaj_ProductMedia>
            <version>0.1.0</version>
        </Copimaj_ProductMedia>
    </modules>
    <global>
        <helpers>
            <productmedia>
                <class>Copimaj_ProductMedia_Helper</class>
            </productmedia>
        </helpers>
        <models>
            <copimaj_productmedia>
                <class>Copimaj_ProductMedia_Model</class>
            </copimaj_productmedia>
        </models>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <compimaj_productmedia_new_filter>
                        <type>singleton</type>
                        <class>copimaj_productmedia/observer</class>
                        <method>addOnlyNewFilter</method>
                    </compimaj_productmedia_new_filter>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <module>
                    <file>copimaj-productmedia.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
</config> 